# Python cache
__pycache__/
*.py[cod]

# Jupyter temporary files
.ipynb_checkpoints/
.virtual_documents/

# OS/editor files
.DS_Store
.vscode/

# Large generated CSV files
Figures/Evaluation/WT_T2_TTa_tracking_quality/01_error_distribution_by_keypoint_data.csv
Figures/KinematicPlotNoteBook/WT_Figure_2/tracking_qc_thresholds/WT_T1_T2_T3_TiTa_keypoint_error_thresholds_data.csv

Figures/

2DprojectionData/

KinematicData/

Metadata/